#! /bin/bash

export DATABASE_URL="postgresql://postgres:postgres@localhost:5432/senseiiwyze"
export NEXT_PUBLIC_AUTH_URL="http://localhost:3000"
export NEXT_PUBLIC_API_URL="http://localhost:3000"
export NEXT_PUBLIC_APP_URL="http://localhost:3000"
export NEXT_PUBLIC_APP_NAME="SenseiiWyze"
export NEXT_PUBLIC_APP_DESCRIPTION="SenseiiWyze"
export NEXT_PUBLIC_APP_URL="http://localhost:3000"
export NEXT_PUBLIC_APP_NAME="SenseiiWyze"
export NEXT_PUBLIC_APP_DESCRIPTION="SenseiiWyze"

source .env.local



export SUPABASE_DATABASE_URL="postgresql://neondb_owner:npg_Q4KWzrRnqx9u@ep-proud-brook-ac1gfz8m-pooler.sa-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"

